@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@300&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-image: linear-gradient(to right, #ffecd2 0%, #f3cfc4 100%);
}

.header {
 background-color: #fff;
 min-height: 60px;
 position: fixed;
 top: 0;
 right: 0;
 width: 100%;
 font-family: 'Montserrat', sans-serif;

}

.navigation {
 padding: 16px;
 display: none;
 &--open {
    display: block;
  }
  &__link {
    text-decoration: none;
    color: rgb(226, 170, 170);
    display: block;
    margin: 0 0 16px;
   }
}

.menu--img {
  position: absolute;
  top: 10px;
  background-color: #fff;
  right: 10px;
  border: 0;
  
}
.hamburger--js {
  position: absolute;
  top: 10px;
  background-color: #fff;
  right: 10px;
  border: 0;
}

.main {
  margin: 60px auto 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(124, 110, 110);
  &__header--heading {
    color: rgb(185, 165, 165);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 32px;
    border-bottom: 1px solid white;
  }
  &__header--heading--name {
    color: rgb(139, 132, 132);
  }
  &__header--heading-hey {
    margin-bottom: 16px;
    font-family: 'Monoton', cursive;
    letter-spacing: 2px;
  }
  &__header--image {
    max-width: 100%;
   }

}
.kurs__title {
  color: rgb(156, 136, 136);
}
.about-me {
   &__title {
    color: rgb(179, 118, 118);
    border-bottom: 1px solid white;
    }
   &__title::before {
    content: "💻 ";
  }
}

.aside__title {
  color: rgb(141, 54, 54);
  border-bottom: 1px solid white;
}
.notes__title {
  color: rgb(151, 119, 119);
  border-bottom: 1px solid white;
  &::before {
    content: "❓ ";
  }
}

.notes__article--title{
  color: rgb(131, 99, 99);
  border-bottom: 1px solid white;
}  

.notes-of-curse{
    &__title {
        color: rgb(194, 124, 124)
      }
      &__week--summary {
        border-bottom: 1px solid #fff;
      }

}

.summary-list {
  list-style-type: circle;
}
.footer {
  color: rgb(187, 104, 104);
}
@media screen and (min-width: 640px) {

  .main {
    display: grid;
    grid-template-columns: [first] 1fr [second] 64px [thrid] 300px;
    grid-template-areas: "header header header"
    "article . aside" "footer footer footer";
    &__header {
        grid-area: header;
        grid-column-start: 1; 
        grid-column-end: 3;
        text-align: center;
        padding: 16px;
        &--heading {
            font-size: 54px;
           }
      }
  }
   
 .about-me {
   grid-area: aside;
   padding: 16px;
 }

 .notes {
   grid-area: article;
   padding: 16px;
 }
 
 .navigation {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-left: 32px;
   padding-right: 32px;
   &__link {
    padding: 16px;
    margin-bottom: 0;
  }
 }
 
 .hamburger--js {
    display: none;
 }
 
}