html {
    box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}

.flex {
    height: 100vh;
    border: 3px solid red;
    background-color: #464175;
    display: flex;
}


.flex_items {
  border: 3px solid #fff;
  padding: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: #e9f72f;
  color: blue;
}