html {
    box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}

body {
  background-color: hsla(150, 83%, 38%, 0.61);
  color: #333;
}

.main {
  display: grid;
  grid-template-areas: "header header header"
  "article . aside"
  "footer footer footer";
  grid-template-columns: 1fr 64px 200px;
  column-gap: 54px;
  row-gap: 16px;
}
.header {
  grid-area: header;
}
.article {
  grid-area: article;
}
.aside {
  grid-area: aside;
}
.footer {
  grid-area: footer;
}

@media screen and (max-width: 600px) {
  body {
    background-color: hotpink;
  }
  .header {
    color: #fff;
  }
}
