@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&family=Potta+One&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #727777;
  background-image: linear-gradient(342deg, #727777 6%, #e5eae9 67%);
  font-family: 'Bodoni Moda', serif;
}
.main {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header header header"
  "section section . aside"
  "footer footer footer footer";
  grid-template-columns: 50px 400px 54pxpx 1fr;
  column-gap: 32px;
  row-gap: 32px;;
}

.main-header {
  color: #f3ebeb;
  font-size: 40px;
  grid-area: header;
  text-align: center;
}
.main__header--heading{
  font-family: 'Bodoni Moda', serif;
  font-weight: lighter;
  color: rgb(53, 91, 102);
  font-weight: bold;
}
.aside {
  grid-area: header;
  grid-column-start: 3;
  margin-top: 50px;
  margin-right: 50px;
}
.h2-header {
  color: #612333;
}
.main__header--image {
  max-width: 500px;
  margin: 16px;
  border-radius: 16px;
  border: 10px solid #fff;
}
.main-notes-style {
  background-color: #7e5f5f;
  color: #fefefe;
  display: inline;
}
.navigation {
  display: flex;
  justify-content: center;
}
.navigation__link {
  color: #fff;
  background-color: rgba(87, 109, 143, 0.658);
  margin: 2px;
  padding: 10px;
  border: 3px solid #fff;
  font-family: 'Bodoni Moda', serif;
  border-radius: 16px;
}
.nav-style {
  font-size: 30px;
  background-color: white;
  display: inline;
}
a {
  color: #612333;
  text-decoration: none;

}
.about-me {
  grid-area: aside;
  padding: 10px;
}
.about-me__title {
  font-family:'Bodoni Moda', serif;
}
.about-me__description--js {
  background-color: rgb(90, 86, 86);
  color: white;
  text-decoration: none;
}
.notes {
  grid-area: section;
  background-color: rgba(219, 231, 236, 0.699);
  padding: 10px;
}
.footer {
  grid-area: footer;
}
button {
  background-color: rgba(87, 109, 143, 0.658);
  border: 8px solid #fff;
  border-radius: 16px;
  font-family: 'Bodoni Moda', serif;
}


