@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@300&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-image: linear-gradient(to right, #ffecd2 0%, #f3cfc4 100%);
}

.header {
 background-color: #fff;
 min-height: 60px;
 position: fixed;
 top: 0;
 right: 0;
 width: 100%;
 font-family: 'Montserrat', sans-serif;

}

.navigation {
  padding: 16px;
 display: none;
 transition-duration: 4s;
}

.navigation--open {
  display: block;
}

.navigation__link {
 text-decoration: none;
 color: rgb(219, 129, 129);
 display: block;
 margin: 0 0 16px;
}
.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: 0;
}
.menu--img {
  position: absolute;
  top: -12px;
  left: -16px;
  background-color: #fff;
  border: 0;
  width: 40px;
}

.main {
  margin: 60px auto 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(124, 110, 110);
}

.main__header--heading {
  color: rgb(185, 165, 165);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 32px;
  border-bottom: 1px solid white;
}
.main__header--heading--name {
  color: rgb(139, 132, 132);
}
.main__header--heading-hey {
  margin-bottom: 16px;
  font-family: 'Monoton', cursive;
  letter-spacing: 2px;
}

.main__header--image {
 max-width: 100%;
}
.about-me {

}
.about-me__title {
  color: rgb(179, 118, 118);
  border-bottom: 1px solid white;
}
.about-me__description {
  
}

.aside__title {
  color: rgb(141, 54, 54);
  border-bottom: 1px solid white;
}
.notes__title {
  color: rgb(151, 119, 119);
  border-bottom: 1px solid white;
}
.notes__article--title{
  color: rgb(131, 99, 99);

}  
notes__article--description {
  border-bottom: 1px solid white;
}

@media screen and (min-width: 640px) {

}